<div id="${1:my-carousel}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#$1" data-slide-to="0" aria-current="location" class="active"></li>
        <li data-target="#$1" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="$2" alt="${3:Carousel image alternate text}">
            <div class="carousel-caption d-none d-md-block">
                <h5>${4:Title}</h5>
                <p>${5:Text}</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="$6" alt="${7:Carousel image alternate text}">
            <div class="carousel-caption d-none d-md-block">
                <h5>${8:Title}</h5>
                <p>${9:Text}</p>
            </div>
        </div>$0
    </div>
</div>