<div id="${1:my-carousel}" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="$2" alt="${3:Carousel image alternate text}">
            <div class="carousel-caption d-none d-md-block">
                <h5>${4:Title}</h5>
                <p>${5:Text}</p>
            </div>
        </div>$0
    </div>
    <a class="carousel-control-prev" href="#$1" data-slide="prev" role="button">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">${6:Previous}</span>
    </a>
    <a class="carousel-control-next" href="#$1" data-slide="next" role="button">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">${7:Next}</span>
    </a>
</div>