<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">${1:Title}</h5>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>${2:Content}</p>$0
            </div>
            <div class="modal-footer">
                ${3:Footer}
            </div>
        </div>
    </div>
</div>